html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#chapters, #information {
  display: none;
}


@media screen and (min-width:376px) {
  #chapter, #info {
  display: none;
  }
}


@media screen and (max-width: 375px) {
  body {
    margin:15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(193, 215, 255);
  }

  h1 {
    font-size: 30px;
  }

  #chapters-ul {
    display: none;
  }

  #chapters {
    display: none;
  }

  #chapters:checked ~ #chapters-ul {
    display: inline;
  }

  #information-ul {
    display: none;
  }

  #information {
    display: none;
  }

  #information:checked ~ #information-ul {
    display: inline;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;

  }
}

@media screen and (max-width: 768px) {
  body {
    background: rgb(193, 215, 255);
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
  }


  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
  }
}