body {
    color: rgb(73, 73, 73);
    font-size: 15px;
    font-family: 'Helvetica', 'Arial', 'Sans-serif';
    background-color: rgba(252, 252, 252, 0.884);
    max-width: 70%;
    width: 100%;
    margin: auto;
}


.button-clear {
    background-color: rgb(0, 112, 94);
    color: white;
    border: solid 1px black;
}

.button-send {
    background-color: rgb(0, 112, 94);
    color: white;
    border: solid 1px black;
}